.header-portfolio {
    border-bottom: 1px solid #ECECEC
}

.body-portfolio {
    font-family: 'Roboto',
        sans-serif;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--white-text-color);
}

.choice__button-radio {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-text-color);

    background-color: var(--color-our-team-section);
    border: none;
    border-radius: 5px;
    cursor: pointer;

    padding: 6px 22px;

    transition:
        color var(--transitions-time) var(--timing-function) var(--delay),
        background-color var(--transitions-time) var(--timing-function) var(--delay),
        box-shadow var(--transitions-time) var(--timing-function) var(--delay),
        border-radius var(--transitions-time) var(--timing-function) var(--delay);

    &:hover,
    &:focus {
        color: var(--white-text-color);
        background-color: var(--color-hover);
        box-shadow:
            0px 3px 10px rgba(0, 0, 0, 0.30),
            0px 1px 10px rgba(0, 0, 0, 0.30),
            0px 2px 10px rgba(0, 0, 0, 0.30);
        border-radius: 4px;
    }

    .nav--current {
        background-color: var(--color-hover);
        color: var(--white-text-color);
    }
}

.choice {
    display: flex;
    justify-content: center;

    margin-bottom: var(--gap-after-h2);
}

.choice .choice__item + .choice__item {
    margin-left: 8px;
}

.about-project__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--black-text-color);

    margin-bottom: 4px;
}

.projects-list__item {
    --card__item: 3;
}

.projects-list__link {
    display: flex;
    flex-direction: column;

    transition: box-shadow var(--transitions-time) var(--timing-function) var(--delay);

    &:hover,
    &:focus {
        box-shadow:
            0px 1px 10px rgba(0, 0, 0, 0.30),
            0px 4px 10px rgba(0, 0, 0, 0.30),
            1px 4px 10px rgba(0, 0, 0, 0.30);
    }

    &:hover .project-overlay,
    &:focus .project-overlay {
        transform: translateY(0);
    }
}

.about-project__category {
    font-size: 16px;
    line-height: 1.88;
}

.about-project {
    padding: 20px 24px;

    border-bottom: 1px solid var(--color-of-portfolio-box);
    border-left: 1px solid var(--color-of-portfolio-box);
    border-right: 1px solid var(--color-of-portfolio-box);
}

.projects-list__thumb {
    position: relative;
    overflow: hidden;

    display: flex;
}

.project-overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);

    transition:
        transform var(--transitions-time) var(--timing-function) var(--delay);
}

.project-overlay__text {
    position: absolute;
    display: inline-block;

    width: 100%;
    height: 100%;

    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
}