.logo {
    font-family: 'Raleway', sans-serif;
    ;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--blue-color);
    text-decoration: none;

    padding-top: 24px;
    padding-bottom: 25px;
    
    &--black {
        color: var(--black-text-color);
    }

    &--white {
        color: var(--white-text-color);
    }
}

.header__logo {
    margin-right: 93px;
}

