.mob-menu__button {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

@media screen and (min-width: 768px) {
    .mob-menu__button {
        display: none;
    }
}

.mob-menu__header-button {
    position: absolute;
    top: 10px;
    right: 15px;
    margin-left: auto;

    transition: fill var(--transitions-time) var(--timing-function) var(--delay);

    &:hover,
    &:focus {
        fill: var(--color-hover);
    }
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white-text-color);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 1;
    overflow-y: auto;
    
    transform: translateX(0%);

    transition: transform var(--transitions-time) var(--timing-function) var(--delay);
}

@media screen and (min-width: 320px) {
    .mob-menu {
        overflow-x: hidden;
    }
}

.mob-menu.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

.mob-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 10px;
    
    height: 100%;
}

.mob-menu__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    
    transition: fill var(--transitions-time) var(--timing-function) var(--delay);

    &:hover,
    &:focus {
        fill: var(--color-hover);
    }
}

.mob-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--black-text-color);
    padding-bottom: 4px;

    transition: color var(--transitions-time) var(--timing-function) var(--delay);

    &:hover,
    &:focus {
        color: var(--color-hover);
    }
}

/*.mob-nav__item:not(:last-child),
.mob-contacts__item:not(:last-child) {
    margin-bottom: 32px;
}*/

.mob-nav__item,
.mob-contacts__item {
    margin-bottom: 32px;
}

.mob-contacts__tel {
    @extend %link;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--color-accent-hover);
}

.mob-contacts__mail {
    @extend %link;
    
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text-color);

    transition: color var(--transitions-time) var(--timing-function) var(--delay);

    &:hover,
    &:focus {
        color: var(--color-hover)
    }
}

.mob-social__link {
    @extend %link;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--color-hover);
    padding-bottom: 4px;

    transition: color var(--transitions-time) var(--timing-function) var(--delay);

    &:hover,
    &:focus {
        color: var(--color-accent-hover);
    }
}

.mob-social__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.mob-social__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
}

