.nav {
    color: var(--black-text-color);

    .link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    
        transition: color var(--transitions-time) var(--timing-function) var(--delay);
        }
    
    .link:hover,
    .link:focus {
        color: var(--color-hover);
    }

}

.nav--current {
    color: var(--color-hover);
    position: relative;

    &::after {
        display: block;
    
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--color-hover);
        border-radius: 2px;
    
        position: absolute;
        left: 0;
        bottom: 0;
    
        transform: scaleX(0);
    
        transition:
            transform var(--transitions-time) var(--timing-function) var(--delay);
    }
    
    &:hover::after,
    &:focus::after {
        transform: scaleX(1);
    }
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

