body {
    font-family: $font-main;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    min-height: 100vh;
}

.link {
    text-decoration: none;
    color: inherit;
}