:root {
    --main-text-color: #757575;
    --black-text-color: #212121;
    --white-text-color: #FFFFFF;
    --blue-color: #2196F3;
    --hero-color: #2F303A;
    --color-hover: #2196F3;
    --color-accent-hover: #188CE8;
    --color-our-team-section: #F5F4FA;
    --color-of-portfolio-box: #EEEEEE;
    --gap-after-h2: 50px;
    --card-gap-top: 30px;
    --card-gap-left: 30px;
    --team-social-icons: #AFB1B8;
    --card__item: 4;
    --transitions-time: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --delay: 0ms;
}

$font-main: 'Roboto', sans-serif;